# 1-) Finding missing data

In [1]:
import numpy as np
import pandas as pd

V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V2 = np.array([7,np.NaN,5,8,12,np.NaN,np.NaN,2,3])
V3 = np.array([np.NaN,12,5,6,14,7,np.NaN,2,31])

df = pd.DataFrame(
        {"V1" : V1,
         "V2" : V2,
         "V3" : V3}        
)

df

     V1    V2    V3
0   1.0   7.0   NaN
1   3.0   NaN  12.0
2   6.0   5.0   5.0
3   NaN   8.0   6.0
4   7.0  12.0  14.0
5   1.0   NaN   7.0
6   NaN   NaN   NaN
7   9.0   2.0   2.0
8  15.0   3.0  31.0

In [2]:
df.shape

(9, 3)

In [3]:
df.describe().T

    count       mean       std  min  25%  50%    75%   max
V1    7.0   6.000000  5.000000  1.0  2.0  6.0   8.00  15.0
V2    6.0   6.166667  3.656045  2.0  3.5  6.0   7.75  12.0
V3    7.0  11.000000  9.729680  2.0  5.5  7.0  13.00  31.0

In [4]:
df.dtypes

V1    float64
V2    float64
V3    float64
dtype: object

In [5]:
df.notnull()

      V1     V2     V3
0   True   True  False
1   True  False   True
2   True   True   True
3  False   True   True
4   True   True   True
5   True  False   True
6  False  False  False
7   True   True   True
8   True   True   True

In [7]:
#we found the number of observations in the columns
df.notnull().sum()

V1    7
V2    6
V3    7
dtype: int64

In [8]:
# we found the number of missing data in the columns
df.isnull().sum()

V1    2
V2    3
V3    2
dtype: int64

In [9]:

# we got the total number of missing data in the data frame
df.isnull().sum().sum()

7

In [10]:
df.isnull()# True means that there is a missing data in this location in the dataframe

      V1     V2     V3
0  False  False   True
1  False   True  False
2  False  False  False
3   True  False  False
4  False  False  False
5  False   True  False
6   True   True   True
7  False  False  False
8  False  False  False

In [14]:
# we got all observations that contain at least one missing data
df[df.isnull().any(axis=1)]

    V1   V2    V3
0  1.0  7.0   NaN
1  3.0  NaN  12.0
3  NaN  8.0   6.0
5  1.0  NaN   7.0
6  NaN  NaN   NaN

In [15]:
# we got all observations that contain no missing data
df[df.notnull().all(axis=1)]

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0

In [18]:
# we got all observations that contain no missing data
df[df["V1"].notnull()& df["V2"].notnull()&df["V3"].notnull()]

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0

In [19]:
df[df["V1"].notnull()& df["V2"].notnull()]

     V1    V2    V3
0   1.0   7.0   NaN
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0